{
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "testing-library"],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "react-app",
    "react-app/jest",
    "plugin:testing-library/recommended"
  ],
  "overrides": [
    {
      "files": ["**/*.test.js"],
      "extends": ["plugin:jest/recommended", "plugin:jest/style"]
    }
  ],
  "rules": {
    "react/jsx-uses-react": 0,
    "react/react-in-jsx-scope": 0,
    // consider any replacement for this rule to improve type-safety for deprecated defaultProps in React
    "react/require-default-props": "off",
    "comma-dangle": [0, { "imports": "never", "exports": "never", "functions": "never" }],
    "@typescript-eslint/no-use-before-define": ["error"],
    "react/jsx-filename-extension": ["off", { "extensions": [".tsx"] }],
    "import/extensions": [ "error", "ignorePackages", {
      "js": "never",
      "jsx": "never",
      "ts": "never",
      "tsx": "never"
    }]
  }
}
